.board-container {
  height: 100vh;
  margin-left: 20vw;
}
.board-heading {
  display: flex;
  background-color: rgb(51, 51, 51);
  height: 10%;
}

.React_Modal_Content {
  border-radius: 8px;
}
.React_Modal_Content--after-open {
  border-radius: 8px;
}
